.blog-wrapper {
   
   /* For ContentsUtility buttons */
   --blogType: 1.25rem;
   --codeType: 1rem;
   --header: var(--light200);
   --codeBlockBG: var(--dark150);
   --codeColor: var(--light200);
   --bodyColorType: var(--light300);
   --codeBG: var(--dark400);
   --links: var(--light100);
   --linksHover: var(--dark400);
   --navLine: var(--light400);
   --activeSection: var(--light000);
   --tableBorder: var(--light200);
   --sidebarHeader: var(--light200);
   --sidebarButton: var(--light200);
   --themeSVG: url('../../../assets/svg/moon.svg');
}

.blog-landing {
   height: 100vh;
}

.col {
   color: #4692cf;
}
.blog-main {
   display: flex;
   width: auto;
   padding: 0 5rem;
}

.blog-head {
   position: absolute;
   top: calc(50% - 20vmin / 2);
   width: 70vw;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

.sidebar {
   display: flex;
   flex-direction: column;
   position: sticky;
   top: 0;
   height: 100vh;
   width: 15%;
   overflow-y: auto;
   padding-right: 2vw;
}

.sidebar::-webkit-scrollbar {
   width: 5px;
}

.blog-body {
   width: 80%;
   max-width: 1200px;
   padding-left: 2vw;
   padding-top: 10vh;
}

.blog-serif {
   font-family: var(--sansType);
}

.blog-body p {
   font-size: var(--blogType);
   line-height: 1.75;
   color: var(--bodyColorType);
}

.math {
   /* mathjax yoinks x-height/leading from typeface? */
   display: block;
   padding-left: 2rem;
   width: 80%;
   font-family: var(--serifType);
   font-size: var(--blogType);
   color: var(--bodyColorType);
}

.math-inline {
   display: inline;
   padding-left: 2rem;
   font-family: var(--serifType);
   font-size: var(--blogType);
   color: var(--bodyColorType);
}

.math-t {
   padding-top: 4rem;
}

.math-b {
   margin-bottom: 4rem;
}

.math-bt {
   padding: 4rem 0;
}

.image {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 80%;
   padding-top: 4rem;
   padding-bottom: 2rem;
}

.code {
   background: var(--codeBG);
   border-radius: 5px;
   font-family: "Fira code", "Fira Mono", "Consolas", "Menlo", Courier, monospace;
   font-size: var(--codeType);
}

.math-135 {
   font-size: 1.35rem;
}
.math-155 {
   font-size: 1.45rem;
}

p.font-size-145 {
   font-size: 1.45rem;
}

p.font-size-165 {
   font-size: 1.65rem;
}

p.caption {
   font-size: 1rem;
   text-align: center;
   margin-top: 0;
}

p.caption a {
   color: var(--links);
   text-decoration: underline;
   font-style: oblique;
   font-size: 1rem;
}

p.caption a:hover {
   transition: color 0.25;
   background: var(--linksHover);
}

.blog-body ul {
   font-size: var(--blogType);
   line-height: 1.75;
   color: var(--bodyColorType);
   padding: 0 3rem;
}

.blog-body ul li {
   padding: 1rem 0;
}

section {
   padding-bottom: 5rem;
}

nav {
   padding-top: 1rem;
}

nav ul {
   list-style-type: none;
   padding-left: 2rem;
}

nav > ul {
   padding-left: 0;
}

nav ul li {
   font-size: 0.9rem;
   font-family: var(--sansType);
   line-height: 1.75;
}

li a {
   text-decoration: none;
   color: var(--navLine);
}

.blog-body a {
   text-decoration: underline;
   color: var(--links);
}

a:hover {
   transition: 0.25s;
   background: var(--linksHover);
}

.active {
   color: var(--activeSection);
}

.codeblock {
   background: var(--codeBlockBG);
   color: var(--codeColor);
   max-width: max-content;
   font-family: "Fira code", "Fira Mono", "Consolas", "Menlo", Courier, monospace;
   font-size: 14px;
   line-height: 1.5;
   padding: 20px 10px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 7px;
}

table {
   margin: 3rem 0;
   margin-left: 2rem;
   font-size: 1.25rem;
}

table, td, th {
   color: var(--tableBorder);
   border-collapse: collapse;
}
td, th {
   padding: 0.75rem;
}

h1 {
   font-size: 5rem;
   color: var(--header);
   padding-bottom: 2rem;
   -webkit-text-stroke-width: 0px;
}

h2 {
   font-size: 4rem;
   padding-left: 2rem;
   color: var(--header);
}

h3 {
   padding: 3rem 0;
   padding-left: 5rem;
   font-size: 2rem;
   color: var(--header);
}

h4 {
   font-family: var(--displayTypeBold);
   color: var(--header);
   font-size: 2rem;
}

.blog-day {
   --header: var(--dark100);
   --codeBlockBG: #292d3e;
   --bodyColorType: var(--dark000);
   --codeBG: var(--light200);
   --links: var(--light500);
   --linksHover: var(--light200);
   --navLine: var(--light400);
   --activeSection: var(--dark000);
   --tableBorder: var(--dark000);
   --sidebarHeader: var(--dark000);
   --sidebarButton: var(--dark000);
   --themeSVG: url('../../../assets/svg/sun.svg');
}