.blog-wrapper {
   transition: color 0.5s, background-color 0.5s;
}

.blog-landing {
   height: 100vh;
   background-color: var(--dark200);
}

.blog-main {
   display: flex;
   padding: 0 5rem;
}

.blog-head {
   position: absolute;
   top: calc(50% - 20vmin / 2);
   text-align: center;
}

.sidebar {
   display: flex;
   flex-direction: column;
   position: sticky;
   top: 8vh;
   height: 85vh;
   width: 20%;
   margin-top: 10vh;
}

.body {
   width: 80%;
   padding-left: 3vw;
   padding-top: 10vh;
}

.blog-serif {
   font-family: var(--sansType);
}

.body p {
   font-size: 1.25rem;
   line-height: 1.75;
   color: var(--light300);
}

p.font-size-145 {
   font-size: 1.45rem;
}

p.font-size-165 {
   font-size: 1.65rem;
}

section {
   padding-bottom: 5rem;
}

nav {
   padding-top: 5vh;
}

nav ul {
   list-style-type: none;
   padding-left: 2rem;
}

nav ul a {
   color: var(--light400);
   font-size: 1rem;
   font-family: var(--sansType);
   text-decoration: none;
   line-height: 1.75;
}

a:hover {
   transition: 0.25s;
   background: var(--dark400);
}

.active {
   color: var(--light000);
}

h1 {
   font-size: 5rem;
   padding: 0 5rem;
   color: var(--light200);
   padding-bottom: 2rem;
}

h2 {
   font-size: 4rem;
   padding-left: 2rem;
   color: var(--light200);
}

h3 {
   padding: 3rem 0;
   padding-left: 5rem;
   color: var(--light200);
}

h4 {
   font-family: var(--displayTypeBold);
   font-size: 2rem;
}

.day {

   /* Landing BG */
   --dark200: #fff;
   
   /* BG */
   background-color: #fff;
   
   /* Nav */
   --dark400: #ccc;

   /* Header */
   --light200: var(--dark100);
   
   /* Body type */
   --light300: var(--dark000);
   
   /* Nav burger */
   --light000: var(--dark000);
   
}