@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap'); */

@font-face {
	font-family: 'Butler-Reg';
	src: url('../assets/font/Butler.woff2') format('woff2');
}
@font-face {
   font-family: 'Butler-Med';
   src: url('../assets/font/Butler-Medium.woff2') format('woff2');
}
@font-face {
   font-family: 'Butler-Bold';
   src: url('../assets/font/Butler-Bold.woff2') format('woff2');
}


:root {
	--light000: #ffffff;
	--light100: #e6e6e6;
	--light200: #cccccc;
	--light300: #b3b3b3;
	--light400: #999999;
	--light500: #808080;
	--light600: #666666;
	--light700: #4c4c4c;

	--dark000: hsl(0, 0%, 0%);
	--dark0000: rgba(0, 0, 0, 0.75);
	--dark0001: rgba(0, 0, 0, 0.25);
	--dark100: hsl(0, 0%, 2%);
	--dark150: #131313;
	--dark200: hsl(0, 0%, 5%);
	--dark300: hsl(0, 0%, 10%);
	--dark400: hsl(0, 0%, 20%);
	--dark4000: rgba(51, 51, 51, 0.5);
	--dark500: hsl(0, 0%, 30%);

	/* --serifType: 'EB Garamond', sans-serif; */
	--serifType: 'Crimson Text', sans-serif;
	--sansType: 'Open Sans', sans-serif;
	--displayTypeReg: 'Butler-Reg', sans-serif;
	--displayTypeMed: 'Butler-Med', sans-serif;
	--displayTypeBold: 'Butler-Bold', sans-serif;

	--typeSize: 1rem;
}

body {
	margin: 0;
	color: var(--light200);
	min-height: 100vh;
	background: var(--dark200);
	transition: color 0.5s, background 0.5s;
	font-family: var(--serifType);
	font-size: var(--typeSize);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 950px) {
	body {
		min-height: 100%;
	}
}

.bg-day {
	background: var(--light000);
}

h1 {
      position: relative;
      margin: 0;
      font-family: var(--displayTypeBold);
      font-weight: normal;
      font-size: 9rem;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--light200);
   }

h2 {
	position: relative;
	font-family: var(--displayTypeBold);
	font-weight: normal;
	font-size: 1.75rem;
}

h3 {
	font-family: var(--displayTypeBold);
	font-weight: normal;
	font-size: 1.5rem;
}

.text-mask {
	overflow: hidden;
}

.fore, .back {
	position: relative;
	/* width: 80vw; */
}

.fore {
	z-index: -1;
}

.back {
	margin-top: -11rem;
	color: var(--light200);
	z-index: -75;
}

::-webkit-scrollbar {
   /* display: none; */
   background: #1d1d1d;
   width: 13px;
}

::-webkit-scrollbar-thumb {
   background: var(--light700);
}

::-webkit-scrollbar-thumb:hover {
   background: var(--light600);
}

::selection {
  background: var(--dark4000); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--dark4000); /* Gecko Browsers */
}
